<!DOCTYPE html>

<head>
  <meta charset="utf8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
        media="screen" title="no title">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css"
        media="screen" title="no title">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css"
        media="screen" title="no title">


</head>

<body>

<div class="card-header bg-white">
  <div class="text-muted">DrDoggy</div>
  <%= link_to 'Sign up to Dr Doggy', '/sessions/new', class: 'btn btn-block btn-white' %>
</div>
<div class="col-md-3">
  <%= link_to 'Member?', '/login',class:  'btn btn-block btn-white' %>
</div>
<div class="col-md-3">
  <%= link_to 'Exit', 'sessions/destroy',class:  'btn btn-block btn-white' %>

</div>
<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">WELCOME</h1>

    <h2 class="text-white">DrDoggy is a service to make medical appointment (soon).</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <div class="links">
          <%= link_to "All Specialities" ,specialities_path %><br>
          <%= link_to "All Doctors" ,doctors_path %><br>
          <%= link_to "All Patients" ,patients_path %><br>
          <%#= link_to "Sign in" , sessions_path %><br>
          <%#= link_to "Log in" ,sessions_path %>
        </div>
      </div>
    </div>
    <div layout:fragment="dashboard-contents">
      <form method="post" class="form mt-2" th:object="${doctor}"
            th:action="@{'/partner/doctors/edit/'+${id}}">
        <div class="card">
          <div class="card-header bg-white">
            <div style="font-size: 20px;" class="ml-1">Add New Doctor</div>
            <div class="text-muted">Please enter your doctor information</div>
          </div>
          <!-- card header -->

          <div class="card-body">

            <div class="container-fluid">

              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Enter Doctor's name :</label> <input type="text" placeholder="Name"
                                                                name="name" class="form-control" th:field="*{name}" />
                  </div>
                  <div class="column">
                  </div>
                  <div class="form-group mt-2">

                    <label>Enter Doctor's location:</label> <input type="text"
                                                                   placeholder="Location" name="Location" class="form-control"
                                                                   th:field="*{location}" />
                  </div>
                </div>
                <!-- first column -->
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Select Doctor :</label> <select
                    class="form-control mdb-select md-form" name="doctor"
                    th:field="*{doctor}">
                    <option value="Badyine"> Betty</option>
                  </select>
                  </div>
                  <div class="form-group">
                    <label>Enter phone </label>
                    <div class="phone-list">
                      <div class="phone-input">
                        <input type="tel" placeholder="Phone" name="phone1"
                               th:field="*{phones}" class="form-control" />
                      </div>
                    </div>
                  </div>

                </div>
                <!-- second column -->
              </div>
              <!-- row -->
            </div>
            <!-- container-fluid -->
          </div>
          <!-- card body -->
          <div class="form-group">
            <div class="card-footer text-right bg-transparent">
              <a class="btn btn-outline-success " href="#" th:href="@{/doctors/1}"
                 role="button">Cancel</a>
              &nbsp;&nbsp;<button class="btn btn-outline-success" href="#" th:href="@{/doctors/show}"
                                  type="submit" role="button">Submit</button>
            </div>
          </div>
          <!-- card -->
        </div>
      </form>

      <script>
          $(document.body).on('click', '.btn-remove-phone', function () {
              $(this).closest('.phone-input').remove();
          });

          $('.btn-add-phone')
              .on(
                  'click',
                  function () {
                      var index = $('.phone-input').length + 1;
                      $('.phone-list')
                          .append(
                              ''
                              + '<div class="container-fluid phone-input">'
                              + '<div class="row">'
                              + '<input type="tel" placeholder="Phone" name="phone' + index + '" class="mt-1 col-11 form-control"/>'
                              + '<button type="button" class="ml-1 btn btn-outline-danger mt-1 btn-remove-phone"><i class="fal fa-times"></i></button>'
                              + '</div></div>');
                  });

          $(document.body).on('click', '.btn-remove-email', function () {
              $(this).closest('.email-input').remove();
          });

          $('.btn-add-email')
              .on(
                  'click',
                  function () {
                      var index = $('.email-input').length + 1;
                      $('.email-list')
                          .append(
                              ''
                              + '<div class="container-fluid email-input">'
                              + '<div class="row">'
                              + '<input type="email" placeholder="Email" name="mail' + index + '" class="mt-1 col-11 form-control"/>'
                              + '<button type="button" class="ml-1 btn btn-outline-danger mt-1 btn-remove-email"><i class="fal fa-times"></i></button>'
                              + '</div></div>');
                  });
      </script>

    </div>






</div>
</body>